/* .case{
    height: 200px;
   
} */

.nav{
    height: 86px;

}
body{
    background-image: url("elephant.jpg") ;
    background-image: no-repeat;
}



.ctn{
    opacity: 0.9;
}

.search{
    opacity: 1 !important;
}

/* .box-container{
height: 300px;
width: 300px;
} */